<% if @current_user %>
  <h1><%= @place["name"] %></h1>
  <p>
    <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>
  
  <h2>My Entries</h2>
  <div class="row">
  <% for entry in @entries %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">                
        <h3 class="card-title"><%= entry["title"] %></h3>
        <h4 class="card-subtitle text-muted"><%= entry["occurred_on"] %></h4>   
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">    
        <p class="card-text"><%= entry["description"] %></p>        
      </div>
    </div>  
  <% end %>
  </div>

  <p>
    <a class="btn btn-primary" href="/places">Back to All Places</a>
  </p>
<% else %>
  <h1>Sign up or Log in for access!</h1>
<% end %>